@charset "UTF-8";
/* CSS Document */

.logoHome {
    padding: 5px;
    margin-bottom: 20px;
}
.olvidoClave{
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	text-align: right;
	color: #555483;
	float: right;
	margin-right: 16px;
}
.olvidoClave a:hover {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-align: right;
    color: #555483;
    float: right;
    margin-right: 16px;
}
.camposObligatorios{
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	text-align: right;
	color: #48C9C8;
	float: right;
	margin-right: 16px;
}
.btnIngresar{
	background-color: #555483;
	text-align: center;
	color: white;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
}

.btnRegistrar {
	color: #555483 !important;
	text-align: center !important;
	font-size: 20px;
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
	text-decoration: none !important;
}
.inputChepe{
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #7f7f7f;
	border-radius: 0px !important;
	box-shadow: none !important;
	padding: 22px 30px;
}
.form-control:focus {
    border-color: #48c9c8 !important;
}
.btnIngresar:hover{
	color: white;
    background-color: #48c9c8;
    border-color: #48c9c8;
}
.iconUser{
	color: #48C9C8;
	position: absolute;
    padding-top: 12px;
}
.iconUserEmail{
	color: #48C9C8;
	position: absolute;
    padding-top: 32px;
}
.txtRedes{
	font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #95989A;
    margin-top: 25px;
    margin-bottom: 25px;
	font-size: 16px;
}
.btnFacebook{
	background-color: white;
	text-align: center;
	color: #5476BE;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	border: 1px solid #5476BE !important;
}
.btnFacebook:hover{
	color: #5476BE;
    background-color: white !important;
    border-color: #5476BE;
}
.btnGoogle{
	background-color: white;
	text-align: center;
	color: #DB4639;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	border: 1px solid #DB4639 !important;
}
.btnGoogle:hover{
	color: #DB4639;
    background-color: white !important;
    border-color: #DB4639;
}
.checkboxChepe{
    width: 20px;
    height: 20px;
    margin-top: 1px;
}
.txtTerminos{
    font-family: 'Nunito', sans-serif;
    color: #555483;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-top: 7px;
    text-decoration: none;
}
.txtTerminosa:focus, a:hover{
    color: #555483;
    text-decoration: none;
}
.btnRegistro{
    background-color: #555483;
    text-align: center;
    color: white;
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    float: right;
    margin-right: 30px;
    margin-top: 40px;
    border-color: #555483;
}
.btnRegistro:hover {
    color: white;
    background-color: #555483;
    border-color: #555483;
}
.btnCancelar{
    background-color: white;
    text-align: center;
    color: #555483 !important;
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    float: left;
    border-color: white; 
    margin-left: 50px;
    margin-top: 40px;
}
.btnCancelar:hover{
    color: #555483 !important;
    background-color: white;
    border-color: white;
}